global:
  scrape_interval: 15s
  evaluation_interval: 15s

alerting:
  alertmanagers:
    - static_configs:
        - targets: []

rule_files: []

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'esp'
    static_configs:
      - targets: ['esp:8080']
    metrics_path: '/metrics'
    scrape_interval: 10s
